<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- using System.Configuration; -->
  <!-- ConfigurationManager.AppSettings["mainPath"] -->
  <appSettings>
    <!-- 航母模型存储位置 -->
    <add key="modelPath" value=".\" />
    <!-- 生成的航母的存储位置 -->
    <add key="birdfarmPath" value=".\birdfarm\" />
    <!-- 生成的舰体存储位置 -->
    <add key="mainSectionPath" value=".\mainSection\" />
    <!-- 生成的飞机存储位置 -->
    <add key="airplanePath" value=".\airplane\" />
    <!-- 生成的舰炮存储位置 -->
    <add key="navalGunPath" value=".\navalGun\" />
    <!-- 叠加飞机位置坐标X -->
    <add key="airplaneX" value="25" />
    <!-- 叠加飞机位置坐标Y -->
    <add key="airplaneY" value="77" />
    <!-- 叠加舰炮位置坐标X -->
    <add key="navalGunX" value="400" />
    <!-- 叠加舰炮位置坐标Y -->
    <add key="navalGunY" value="77" />
  </appSettings>
</configuration>